.background-img_1 {
    /* position: fixed; */
    /* height: 900px; */
    /* box-sizing: border-box; */
    /* padding: 0 0 96px 86px; */
    background-attachment: fixed;
    background-image: url("../img/frontend_html_css_homework_homework9_img_bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.margin-crutch {
    opacity: 0;
}

.inside-container {
    height: 900px;
}

.a-wrapper-header {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    margin: 480px 0 0px 86px;
}

.a-title {
    font-size: 48px;
}

.a-subtitle {
    margin-top: 16px;
    font-size: 18px;
}

.a-slogan {
    margin-top: 28px;
    display: flex;
}

.a-slogan_position {
    padding: 49px 34px 42px 27px; 
}

.a-slogan_first-part {
    background-color: #ffffff;
    font-size: 54px;
}

.a-slogan_second-part {
    padding-right: 56px;
    border: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 54px;
}



