.background-img_2 {
    height: 380px;
    background-image: url("../img/frontend_html_css_homework_homework9_img_bg2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}