.background-img_3 {
    height: 475px;;
    background-image: url("../img/frontend_html_css_homework_homework9_img_bg3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
}

.logo {
    
}

.logo_1 {
    width: 207px;
    height: 28px;
    margin-right: 56px;
}

.logo_2 {
    width: 145px;
    height: 39px;
    margin-right: 66px;
}

.logo_3 {
    width: 172px;
    height: 42px;
    margin-right: 65px;
}

.logo_4 {
    width: 141px;
    height: 52px;
}

.text-description-b {
    
}