.background-img_4 {
    height: 485px;;
    background-image: url("../img/frontend_html_css_homework_homework9_img_bg4.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}