@import url("./a-block.css");
@import url("./b-block.css");
@import url("./c-block.css");
@import url("./d-block.css");


.section-block {
    /* width: 1600px; */
    margin: 0 auto;
}

.container {
    width: 100%;
}

.__text_uppercase {
    text-transform: uppercase;
}

.__font-family_Montserrat {
    font-family: Montserrat, sans-serif;
}

.__font-family_Lato {
    font-family: Lato, sans-serif;
}

.__font-family_Open-sans {
    font-family: 'Open sans', sans-serif;
}

/* .__font-size_17 {
    font-size: 17px;
}

.__font-size_22 {
    font-size: 22px;
} */

.__font-weight_bold {
    font-weight: 700;
}

.__color_white {
    color:  #ffffff;
}

.__color_orange {
    color:  #f1ad1d;
}

.__color_black {
    color:  #333333;
}

.__color_black-b {
    color:  #4d4943;
}

.description {
    background-color: #ffffff;
}

.inside-wrap_description {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: column;
    height: 403px;
}

.title-description {
    margin-top: 112px;
}

.text-description {
    margin-top: 35px;
}


.style-line {
    width: 60px;
    height: 3px;
    margin-top: 52px;
    background-color: #f1ad1d
}

.title-description-b {
    margin-top: 150px;
}

.__m-top_60 {
    margin-top: 60px;
}